* {
  font-size: 0.875rem;
}
.head {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  background-color: #ffffff;
  border-bottom: 0.0625rem solid #ddd;
}
.head-list {
  width: 20.625rem;
  overflow-x: auto;
}
.head-list ul {
  width: 56.25rem;
}
.head-list li {
  height: 2.625rem;
  float: left;
  margin-left: 0.875rem;
  margin-right: 0.875rem;
  line-height: 2.25rem;
}
.head-list li a {
  display: block;
}
.head-show {
  height: 2.625rem;
  width: 2.8125rem;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;
  border-left: 0.0625rem solid #ddd;
  border-bottom: 0.0625rem solid #ddd;
  background-color: #fff;
}
.head-show:before {
  content: "";
  display: block;
  height: 0.75rem;
  width: 1.5625rem;
  background-image: url("../images2/down.png");
  background-repeat: no-repeat;
  background-size: 80%;
  margin: 1rem auto;
}
.content-list {
  overflow: hidden;
  border-bottom: 0.0625rem solid #ddd;
  background-color: #ffffff;
  margin-bottom: 0.625rem;
}
section {
  background-color: #f4f4f4;
  padding-top: 2.75rem;
}
section a img {
  width: 100%;
}
.list-title {
  height: 2.5rem;
  line-height: 2.5rem;
  text-indent: 0.75rem;
}
.list-mooncake {
  float: left;
  margin: 0.375rem;
  position: relative;
}
.list-mooncake a {
  display: block;
  width: 14.75rem;
  height: 9rem;
  position: relative;
}
.list-mooncake a:after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
}
.list-banner {
  position: absolute;
  left: 1.5rem;
  top: 3.375rem;
  width: 11.625rem;
  border-top: 0.125rem solid #fff;
}
.list-banner span {
  color: #fff;
}
.list-r-cutline {
  height: 0.125rem;
  width: 4.3125rem;
  background-color: #fff;
  margin-top: 0.625rem;
  float: right;
}
.list-l-cutline {
  height: 0.125rem;
  width: 4.3125rem;
  background-color: #fff;
  margin-top: 0.625rem;
  float: left;
}
.list-mad a img {
  width: 100%;
}
.list-mad p {
  text-align: center;
  background-color: #fafafa;
}
.list-mad li {
  overflow: hidden;
  float: left;
  border: 0.0625rem solid #ddd;
  margin: 0.4375rem 0.125rem 0.4375rem 0.125rem;
  width: 7.5rem;
  box-sizing: border-box;
}
.list-mad li a {
  width: 6.875rem;
  float: left;
  margin: 0.25rem;
  position: relative;
}
.list-mad li a:after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
}
